
  
  /* === LOADER === */
  .loader {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.85);
    z-index: 2000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 500;
  }
  
  .loader.active {
    display: flex;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid var(--color-border-hr);
    border-top-color: var(--color-hover-primary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-bottom: 10px;
  }

  .sidebar.collapsed .logout-button span:nth-child(2) {
    display: none;
  }
  
  


  /* === RESPONSIVE ADJUSTMENT === */
  @media (max-width: 768px) {
    .filter-grid {
      grid-template-columns: 1fr;
    }
    .button-group {
      flex-direction: column;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  
  